---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
        <!--================Welcome Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col-lg-6 offset-lg-1">
                        <div class="main_title crt">
                            <h2>About Gold Coast BSides</h2>
                        </div>
                        <div class="code_text smaller">
                            <p>Gold Coast BSides is a one day event held at COHORT in Southport.  BSides is a community run and community-focused cybersecurity conference.  It will have one track of between 8 and 10 talks.</p>

                            <h3 class="crt">Audience</h3>
                            <p>This is an inclusive community-focused event.</p>
                            <p>As this is our first year we wanted to start small so there will be a maximum of 100 tickets sold for this event.</p>

                            <h3 class="crt">Chatham House Rule</h3>
                            <p>When a meeting is held under the Chatham House Rule, participants are free to use the information received, but the identity or affiliation of speakers and participants may not be revealed.</p>

                            <h3 class="crt">A Community Event</h3>
                            <p>Gold Coast BSides is a community effort. It has been hosted by various companies who strive to keep it going in order to provide a forum for discussion among cybersecurity practitioners on the Gold Coast.</p>
                        </div>
                    </div>
                    <div class="col-lg-5" style="float: left;">
                        <div class="welcome_img">
                            <img class="img-fluid" src="{{ site.logo_path }}" alt="Gold Coast BSides" float: right;>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->

{% include footer.html %}
