---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
        <!--================Welcome Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col">
                        <div class="main_title crt">
                            <h2>Call for Papers (CFP)</h2>
                        </div>
                        <div class="code_text">
                            <center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScK-rId5Z2jCtrtdU3BufSaVgIX_8ue55YtRb5Hi-8SFpXKjg/viewform?embedded=true" width="670" height="4494" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->

{% include footer.html %}
