---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
<section class="welcome_area pad_top">
  <div class="container">
      <div class="welcome_inner row">
          <div class="col">
              <div class="main_title crt">
                  <h2>Attendee Guidelines</h2>
              </div>
              <div class="code_text">
                <ol>
                  <li>All Attendees must agree to abide by the <a href="/code.html">Gold Coast BSides Code of
                      Conduct</a>. Violators will be removed by the hosting organization, and
                    may result in their organization being banned from Gold Coast BSides.</li>
                  <li>The CFP will reopen soon.</li>
                </ol>
              </div>
            </div>
        </div>
    </div>
</section>
{% include footer.html %}
