---
layout: null
---

{% include header.html %}

		<!--================Event Schedule Area =================-->
        <section class="event_schedule_area p_120">
        	<div class="container">
				<div class="main_title crt">
				<br><br>

				<h2>Event Schedule</h2>
				<h3>8 am - 9 am - Registration</h3>
				<br>
				<h3>9 am - 9.10 - Intro and Acknowledgement of Country</h3>
				<br>
				<h3>9.10-9.40 am - Keynote - Thomas Roccia</h3>
				<br>
				<h3>9.45 am - 10.15 am - Kat Ho - Ignore All Previous Instructions: A Love Story</h3>
				<br>
				<h3>10.20 am - 10.50 am - Sasha Le - Death to the 'Crown Jewels': Turning a PAM into a Stateless Proxy</h3>
				<br>
				<h3>10.50 am - 11.05 - Break</h3>
				<br>
				<h3>11.05.am - 11.35 am - Jonathan Dowdall - Let Me Out: Data Exfiltration Testing & Living-off-the-Land C2s</h3>
				<br>
				<h3>11.40 am - 12.10 pm - Brandon Chuah - Getting Started with Securing AI Products</h3>
				<br>
				<h3>12.10 am - 1.10 pm - Lunch</h3>
				<br>
				<h3>1.10 pm - 1.40 pm - Panel</h3>
				<br>
				<h3>1.45 pm - 2.15 pm - Claudia Nave - When the Hunters Become the Hunted: Tracking Red Team Infrastructure Through Threat Intelligence</h3>
				<br>
				<h3>2.20 pm - 2.50 pm - Carsten Hagemann - Passkeys Raise the Floor, Not the Ceiling: Downgrade Attacks in Mobile Authentication</h3>
				<br>
				<h3>2.45 pm - 3.00 pm - Break</h3>
				<br>
				<h3>3.15 pm - 3.30 pm - Leo Whitehead - Practical TLS Exploitation</h3>
				<br>
				<h3>3.35 pm - 4.05 pm - Hacker Trivia</h3>
				<br>


              <!--<p><a href='/static/goldcoastbsides_2024_schedule.pdf'>Schedule (PDF)</a></p>--> 
				</div>

        	</div>
        </section>
        <!--================End Event Schedule Area =================-->
{% include footer.html %}
