---
layout: null
---

{% include header.html %}

		<!--================Event Schedule Area =================-->
        <section class="event_schedule_area p_120">
        	<div class="container">
				<div class="main_title crt">
				<br><br>

				<h2>Event Schedule</h2>
				<h3>9 am - Intro and Acknowledgement of Country</h3>
				<br>


              <!--<p><a href='/static/goldcoastbsides_2024_schedule.pdf'>Schedule (PDF)</a></p>--> 
				</div>

        	</div>
        </section>
        <!--================End Event Schedule Area =================-->
{% include footer.html %}
