---
layout: null
---

{% include header.html %}

		<!--================Event Schedule Area =================-->
        <section class="event_schedule_area p_120">
        	<div class="container">
				<div class="main_title crt">
				<br><br>

				<h2>Event Schedule</h2>
				<h3>9 am - Intro and Acknowledgement of Country</h3>
				<h4><a href="https://www.linkedin.com/in/william-duncan-167872264/">William Duncan</a> will provide an Acknowledgement of Country</h4>
				<br>
				<h3>9.25 am - Keynote</h3>
				<h4>We are excited to have <a href="https://www.linkedin.com/in/colecornford/">Cole Cornford</a> presenting our keynote!  Cole will talk about his journey to cyber, and how he became one of the most respected Application Security practitioners globally.</h4>
				<br>
				<h3>9.55 am - Morning Break</h3>
				<br>
				<h3>10.10 am - <a href="https://www.linkedin.com/in/ronnie-islam/">Ronnie Islam</a></h3>
				<h3>"DevSecOps: Rich Data, Poor Insights"</h3>
				<h4>Modern software delivery is a complex challenge for security. Security as a enabler is expected to provide @scale service. How to aggregate & corelate data from change management, software delivery and security services to drive actionable insights to achieve reasonable Secure Outcome (software delivery and maintain infrastructure). </h4>
				<br>
				<h3>10.45 am - <a href="https://www.linkedin.com/in/shelly-mills/">Shelly Mills</a> & <a href="https://www.linkedin.com/in/kat-m-ftc/">Kat McCrabb</a></h3>
				<h3>"Crisis Averted: Planning, Practicing, Prevailing"</h3>
				<h4>Get equipped to face any cyber crisis by Planning, Practicing and Prevailing. This talk dives into the essentials of Incident Response Plans, playbooks, and tabletop exercises, showing how preparation and practice can turn chaos into controlled, confident action. Learn how to build and refine your organisation's incident resilience, ensuring you're ready for whatever comes your way.</h4>
				<br>
				<h3>11.15 am - Break</h3>
				<br>
				<h3>11.30 am - <a href="https://www.linkedin.com/in/abedhamdan/">Abed Hamdan</a></h3>
				<h3>"Technical vs Non-technical cyber security specialisations for beginners"</h3>
				<h4>Cyber security is a broad career, with so many different specialisations, which can be confusing for beginners. This presentation will clarify the different specialisations within the cyber security field.
</h4>
				<br>
				<h3>12.05 pm - <a href="https://www.linkedin.com/in/kristine-sihto/">Kristine Sihto</a></h3>
				<h3>"Papercuts: Stop the Bleed!"</h3>
				<h4>Documentation is inherent to every organisation, and a lot of that documentation is bound for external clients. But what happens when your documentation is showing too much and not the right thing? My presentation will address common places in your documentation that may leak information about staff, internal processes, and other clients, and give you a good idea of how to reduce the likelihood that this happens.
<br>
<br>
				<h3>12.35 pm - Lunch Break</h3>
				<h4>BSides is not providing lunch so it will be up to you to either bring your own lunch or buy lunch at one of the 7 restaurants in the area (or anywhere else you want!).  Some of the restaurants in the immediate area:<br>

				<a href="https://bluekoalacafe.com.au/">Blue Koala Cafe</a> - Coffee and food.<br>
				<a href="https://www.menulog.com.au/restaurants-thai-on-smith-southport/menu#pre-order">Thai on Smith</a> - Thai food.  Great lunch specials.<br>
				<a href="https://obagel.bopple.app/o-bagel-southport/menu">O Bagel</a> - Awesome bagel sandwiches and coffee.<br>
				<a href="https://www.gnocchignocchibrothers.com.au/location/southport/">Gnocci Brothers</a> - Amazing Italian gnocci.<br>
				<a href="https://www.sunshinekebabs.com.au/">Sunshine Kebabs</a> - Good fresh kebabs and other items.<br>
				<a href="https://cafe63.deliverectdirect.com/">Cafe 63</a> - Good coffee and HUGE lunch and dinner menu.<br>
				<a href="https://www.hudsonscoffee.com.au/store/gold-coast-private-hospital/">Hudson's Coffee & Cafe</a> - Good coffee and typical cafe lunch items.<br>
				<a href="https://www.doordash.com/en-AU/store/sushi-hyo-southport-24434897/?srsltid=AfmBOoqXM_wuVXwFSyze5ALrVzqkRJL-FMnpiZJ08xywQ3Un4d4ID1tv">Woolies Smith Collective</a> - Grocery store with sushi and other lunch items.<br><br>
				<a href="https://www.smithcollectiveretail.com.au/woolworths">Hudson's Coffee & Cafe</a> - Good coffee and typical cafe lunch items.<br>

				All of these restaurants offer online ordering, so you can order from your phone while at a talk and then go pick it up!  I have included links to the online ordering when I could find it.  There are also another 4 restaurants at the <a href="https://www.goldcoast.health.qld.gov.au/hospitals-and-centres/gold-coast-university-hospital/shops-and-cafes">University Hospital Food Court</a> which is less than a ten minute walk.  Subway, Coffee, Sushi/Japanese, Bakery, Carvery and more can be had there.</h4>
				<br>
				<br>
				<h3>1.25 pm - <a href="https://www.linkedin.com/in/joelpanther/">Joel Panther</a></h3>
				<h3>'"Stop spying on me!" Blocking adversarial DNS requests.'</h3>
				<h4>Adversarial and advertising DNS traffic pose threats to security and user privacy. This talk discusses strategies for identifying and blocking unwanted DNS requests, leveraging DNS blackholes.</h4>
				<br>
				<h3>2 pm - <a href="https://www.linkedin.com/in/artb/">Artem Brunov</a></h3>
				<h3>"Hacking AS400"</h3>
				<h4>We will explore the world of the AS/400, now known as the iSeries. Despite being considered an old-school system, the AS/400 remains a critical component in many organizations, particularly within financial institutions for handling essential data. This talk is based on a true story of hacking into an AS/400 system, uncovering its security mechanisms, and revealing potential vulnerabilities.</h4>
				<br>
				<h3>2.35 pm - <a href="https://www.linkedin.com/in/adriana-moreno-dev/">Adriana Moreno</a></h3>
				<h3>"Maximizing Cyber Defense: The Strategic Advantage of XDR Platforms"</h3>
				<h4>They will learn about the core features of XDR, including its ability to integrate and centralize data from various security tools, detect advanced threats across multiple vectors, and automate response actions. Through real-world case studies, participants will see the tangible benefits of XDR in reducing incident response times, improving threat detection accuracy, and providing comprehensive visibility across their IT environment. Additionally, they will gain insights into evaluating whether XDR is the right fit for their specific business needs and how to approach its implementation to maximize ROI and scalability.</h4>
				<br>
				<h3>3.05 pm - Afternoon Break</h3>
				<br>
				<h3>3.20 pm - <a href="https://www.linkedin.com/in/ari-paul/">Arijit Paul</a></h3>
				<h3>"Threat Hunting AWS CloudTrail Logs with Microsoft Sentinel: Real-Time Attack Demo"</h3>
				<h4>Unlock the secrets of cloud security with a live demo on threat hunting in AWS CloudTrail logs using Microsoft Sentinel. Witness an attack exploiting a misconfigured server, and learn to develop KQL-based detection rules to safeguard your cloud environment.</h4>
				<br>
				<h3>3.55 pm - <a href="https://www.linkedin.com/in/colby-prior/">Colby Prior</a></h3>
				<h3>"Running a company CTF"</h3>
				<h4>This year I am running a CTF internally at my company. This talk will go over the whole process of running your own CTF and show you how you can do the same.</h4>
				<br>
				<h3>4.30 pm - <a href="https://www.linkedin.com/in/thomas-roccia/">Thomas Roccia</a></h3>
				<h3>"YaraToolkit: Your Yara Swiss Army Knife"</h3>
				<h4>So you want to hunt malware like a pro? You heard about YARA but never took the time to learn it properly? What if you could wield a tool that does the heavy lifting for you?  YARA is the most used tool by threat researchers and malware analysts; it can be used for identifying malware patterns and tracking threat actors. In this talk, I will discuss YARA and how to use it. I will go through the basics and more advanced use cases, then introduce YaraToolkit.<h4>
				<br>
				<h3>5 pm - Closing Remarks and CTF Winners</h3>
				<br>
				<h3>5.15 - 7.15 pm - Networking Drinks provided by our sponsors</h3>
				<br>
				<br>


              <!--<p><a href='/static/goldcoastbsides_2024_schedule.pdf'>Schedule (PDF)</a></p>--> 
				</div>

        	</div>
        </section>
        <!--================End Event Schedule Area =================-->
{% include footer.html %}
