---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
        <!--================Welcome Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col">
                        <div class="main_title crt">
                            <h2>Gold Coast BSides {{site.year}} Venue</h2>
                        </div>
                        <div class="code_text">
                            <p>Gold Coast BSides {{ site.year }} will be held at COHORT Innovation Space</p>
                            <p>The address is 16 Nexus Way, Southport, QLD 4215</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->

        {% include map.html %}

{% include footer.html %}
