        <!--================Start Event Location Area =================-->
        <section class="home_map_area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7048.054953681751!2d153.38353377566756!3d-27.962444737880773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9111928424debd%3A0x2cbfb9e500fcf874!2sCohort%20Innovation%20Space!5e0!3m2!1sen!2sau!4v1720028003130!5m2!1sen!2sau" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="home_details">
                <div class="container">
                    <div class="box_home_details">
                        <div class="media">
                            <div class="d-flex">
                                <i class="lnr lnr-home"></i>
                            </div>
                            <div class="media-body">
                                <h4>Gold Coast, Queensland</h4>
                                <p>COHORT Innovation Space</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <i class="lnr lnr-clock"></i>
                            </div>
                            <div class="media-body">
                                <h4>{{ site.event_date }}</h4>
                                <p>Saturday</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <i class="lnr lnr-envelope"></i>
                            </div>
                            <div class="media-body">
                                <h4>{{ site.contact_email }}</h4>
                                <p>Send us your query!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Event Location Area =================-->
