<!--================Start Sponsors Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col">
                        <div class="main_title crt">
				<center><h2>Gold Sponsors</h2></center>
				<br><br><br>
				<center><h2>Silver Sponsors</h2></center>
			</div>
		</div>
	    </div>
	</section>
<center>
<table>
  <tr>
    <td><a href="https://githax.com"><img src="img/githax-logo-white.png" width="300"></a></td>
    <td><a href="https://sourcecodered.com"><img src="img/sourcecodered-new-horizontal-logo.png" width="400"></a></td>
    <td><a href="https://cybersecpeople.com"><img src="img/cybersec_people_cover.jpeg" width="450"></a></td>
    <td><a href="https://www.sovtech.com.au"><img src="img/sovtech-website-logo.jpg" width="250"></a></td>
  </tr>
</table>
</center>
<br>
<br>
<br>
<!--================End Sponsors Area =================-->

