<!--================Start Sponsors Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col">
                        <div class="main_title crt">
				<center><h2>Gold Sponsors</h2></center>
<center>
<table>
  <tr>
    <td><a href="https://www.solissecurity.com/" target="_blank"><img src="img/solis_logo_white.png" width="300"></a></td>
  </tr>
</table>
</center>
				<br><br><br><br><br>
				<center><h2>Silver Sponsors</h2></center>
			</div>
		</div>
	    </div>
	</section>
<center>
<table>
  <tr>
    <td><a href="https://sourcecodered.com" target="_blank"><img src="img/sourcecodered-new-horizontal-logo.png" width="400"></a></td>
    <td><a href="https://cybersecpeople.com" target="_blank"><img src="img/cybersec_people_cover.jpeg" width="450"></a></td>
    <td><a href="https://www.sovtech.com.au" target="_blank"><img src="img/sovtech01.png" width="250"></a></td>
  </tr>
  <tr>
    <td><a href="https://cyberauditteam.com" target="_blank"><img src="img/CAT-white-logo.png" width="150"></a></td>
    <td><a href="https://githax.com" target="_blank"><img src="img/githax-logo-white.png" width="300"></a></td>
    <td><a href="https://secure-iss.com/" target="_blank"><img src="img/secure-iss.png" width="200"></a></td>
  </tr>
</table>
</center>
<br>
<br>
<br>
<!--================End Sponsors Area =================-->

