<!--================Start Sponsors Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col">
                        <div class="main_title crt">
				<center><h2>Gold Sponsors</h2></center>
<center>
<table>
  <tr>
    <h3> Your brand here! </h3>
  </tr>
</table>
</center>
				<br><br><br><br><br>
				<center><h2>Silver Sponsors</h2></center>
			</div>
		</div>
	    </div>
	</section>
<center>
<table>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
    <td><a href="https://cohortspace.com.au/" target="_blank"><img src="img/cohort-logo.png" width="300"></a></td>
  </tr>
</table>
</center>
<br>
<br>
<br>
<!--================End Sponsors Area =================-->

